/* Importing the Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #1b1b32;
  color: #080808;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  background-image: url('https://img.freepik.com/free-vector/gradient-white-monochrome-background_23-2149017048.jpg?t=st=1724255970~exp=1724259570~hmac=7136392f99d4057a143bb16a24bac58b51e9f05629cab7fa6040e47e2acfc7b5&w=740');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

p {
  font-style: italic;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input, textarea, select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: rgb(248, 244, 244);
  border: 1px solid #616192;
  color: #0d0d0d;
  border-radius: 9px;
}

.inline {
  display: inline; 
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: gray;
  opacity: 1;
  border: 1px solid rgb(14, 9, 9);
  border-radius: 5px;
  min-width: 300px;
}

input[type="file"] {
  padding: 1px 2px;
}

a {
  color: gray;
}
